{% extends 'base/cashien_base.html' %}
{% block content %}
<div>


    <script>
        let user = undefined;

        const AuthAdmin = async () => {
            const username = document.getElementById("usernameInput").value;
            const password = document.getElementById("passwordInput").value;
            const bh = document.getElementById('bh').value
            console.log("Here")
            try {
                const response = await fetch(bh + "/cashien/auth-cashien-admin", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ 'username': username, "password": password })
                })
                const results = await response.json();
                if (response.status == 200) {
                    const inst = document.getElementById("instruction");
                    const link = document.createElement("a");
                    link.href = "/cashien/dispute/" + results['msg'] + "/all"
                    inst.appendChild(link);
                    link.innerHTML = "LINK"
                    inst.style.opacity = "1";
                } else {
                    alert(results['msg'])
                }
            } catch (error) {
                console.log(error)
                alert("unexoected error, contact dev with code errorCode6813");
            }
        }
    </script>

<div style="opacity:0" id="instruction">
    <span >
        Copy or click on this link to access disputes
    </span>

</div>


    <div>
        <input value={{env.bh}} id="bh" hidden />
        <input placeholder="Username" id="usernameInput" /> <br />
        <input placeholder="Password" id="passwordInput" /> <br />
        <button onclick="AuthAdmin()">
            Submit
        </button>
    </div>
</div>

{% endblock %}