<div>

    <div style="font-size:1.1em; font-weight:500">
        <p style="font-size:1.5em; font-weight:900">
            CA$HI&euro;N
        </p>
        <p style="font-size:1.3em; font-weight:700">
            Dear {{username}},
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;This is to confirm that your account verification has been completed successfully.
            You now have full access to all our services.
        </p>
        <br />
        <b>
            &nbsp;&nbsp;&nbsp;&nbsp;Be reminded to remain vigilant in protecting your account and funds. Always
            safeguard your login
            credentials, personal information and coins during transactions. If you notice any unusual activity while
            interacting with any user during a trade, call in the administrative team immediately.
        </b>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Maintaining your security is a shared responsibility, and we are committed to
            supporting you in this effort.
        </p>
        <p>
            Thanks for your attention
        </p>
        <p>
            Sincerly,<br />Cashien Administration.
        </p>
    </div>
</div>