<div>

    <div style="font-size:1.1em; font-weight:500">
        <p style="font-size:1.5em; font-weight:900">
            CA$HI&euro;N
        </p>
        <p style="font-size:1.3em; font-weight:700">
            Dear {{username}},
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Your identity document has been successfully verified, and your registration is now
            complete. You have been added to our system as <b>{{full_name}}</b>.
        </p>
        <p>
            To complete the third step of the verification process, please log in to your cashien account and take a
            selfie as required in Step 3.
        </p>
        <div>
            <p>
                Your selfie must meet the following standards:
            </p>
            <ul style="font-weight:700">
                <li>
                    Face must be fully visible with no sunglasses, hats, or masks.
                </li>
                <li>
                    Use bright, even lighting to avoid shadows.
                </li>
                <li>
                    Stand against a plain, light-colored background.
                </li>
                <li>
                    Ensure the image is clear and high-resolution.
                </li>
                <li>
                    Look directly at the camera with your face centered.
                </li>
                <li>
                    Do not use filters, edits, or enhancements.
                </li>
                <li>
                    Only one person should be visible in the frame.
                </li>
                <li>
                    Take the selfie in real-time; do not upload old photos.
                </li>
            </ul>
        </div>
        <br />
        <p>
            Thank you for choosing Cashien!
        </p>
    </div>
</div>