{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashien Mailer</title>
    <link rel="stylesheet" href="{% static 'css/cashien.css' %}"/>
</head>
<body>
    

    <div>
        <h1>
            Send mails from cashien
        </h1>
        
        <div>
            <form method="post" action="{% url 'base:mailer' %}">
                {% csrf_token %}
                <input type="text" placeholder = "Enter username" name="username" class="mailerInput"/>
                <br/>
                <input type="text" placeholder = "Enter user email" name="email" class="mailerInput"/>
                <br/>
                <input type="text" placeholder = "Enter user full name" name="full_name" class="mailerInput"/>
                <br/>
                <select name="mail_type">
                    <option>
                        ID VERIFIED
                    </option>
                    <option>
                        FULLY VERIFIED
                    </option>
                </select>
                
                <br/>
                <input type="submit"/>
            </form>
        </div>
    </div>

</body>
</html>