<div style="font-family: system-ui, sans-serif, Arial; font-size: 14px">
    <h1>
        {{header}}
    </h1>
    <h2>
        {{subheader}}
    </h2>

    <p style="padding-top: 14px; border-top: 1px solid #eaeaea">
        {{message}}
        <a href={{verification_link}}> link </a>.
    </p>
    <p>
        If you can't click the link from a signed-in device, please copy and paste it into a browser where you are already signed in.
    </p>

    <p style="color:blue">
        {{verification_link}}
    </p>
    <p>
        {{contentOne}}<br />
        {{contentTwo}}
    </p>
    <p>{{contentThree}}</p>
</div>